
.user-detail{
    font-size: 25px;
    padding: 30px;
    justify-content: space-around;
    flex-direction: row;

}
.input-text {
    border: none;
    background-color: rgb(86, 226, 238);
    height: 1.8rem;
    border-radius: 0.25em;
    
}
.input-text:focus{
    outline-color: rgb(105, 100, 100);
}
 .login-btn{
    border: none;
    background-color: rgb(68, 95, 250);
    height: 1.8rem;
    border-radius: 0.25em;
    cursor: pointer;
 }

